*{
    margin: 0px;
    padding: 0px;
    font-family: 'Dosis', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}
main{
  flex-grow: 1;
  margin-bottom: 150px;
}

nav{
    background-color: blue;
}

footer{
    background-color: #d05893;
    height: 60px;
}